<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-primary">

				<ul class="nav nav-tabs">
				    <li ng-class="{active:isActive('/users')}"><a href="#/users">Users</a></li>
				    <li ng-class="{active:isActive('/events')}"><a href="#/events">Events</a></li>
				</ul>

				<div class="panel-heading">
					<h3 class="panel-title">List Users</h3>
				</div>

				<div class="panel-body">
				<table class="table table-hover" id="dev-table">
					<thead>
						<th>Name</th>
						<th>email</th>
					</thead>
					<tbody>
					<% @users.each do |u| %>
						<tr>
							<td><%= u.first_name %> <%= u.last_name %></td>
							<td><%= link_to u.email, user_path(u) %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<%= link_to "Show Events", events_path %>
	</div>
</div>