<h1>List Users</h1>
<table>
	<thead>
		<th>email</th>
	</thead>
	<tbody>
	<% @users.each do |u| %>
		<tr>
			<td><%= link_to u.email, user_path(u) %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<%= link_to "Show Events", events_path %>